.details-header{
        padding-block: 20px;
        box-shadow: 0px 2px 5px -2px rgba(0,0,0,0.25);
        display: flex;
}
.details-header-main{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.logo-details > h1 {
  font-size: 35px;
  font-weight: 600;
  cursor: pointer;
}
.logo-details > h1 > span{
    color: rgb(11, 200, 200);
}
.intro-title-city {
  margin-top: 10px;
}
.intro-title-city h2 {
  font-size: 30px;
}
.intro-images > img{
  max-width: 360px;
    min-height: 240px;
    object-fit: cover;
}
.main-img > img {
  width: 643px;
  height: 330px;
  object-fit: cover;
  border-radius: 8px;

}
.side-img-box > img {
  width: 219px;
    height: 158px;
    object-fit: cover;
    border-radius: 8px;
}
.side-img-box > img:last-child{
  margin-top: 13px;
}
.city-icon {
  display: flex;
  gap: 7px;
  align-items: center;
  margin-bottom: 5px;
}
.items-title-city-main{

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 15px;
}
.item-title > h1 {
  font-size: 35px;
  margin-bottom: 20px !important;
}
.item-title > h1:hover{
  color: rgb(0, 186, 186);
}
.city-icon > p {
  font-size: 16px;
}
svg:not(:root){
  width: 20px;
  height: 20px;
  color: rgb(0, 186, 186);
}
.box-desc{
  height: 74px;
}
.img-box{
  background-color: black;
}
.intro-desc{
  margin-top: 20px;
  
}
.intro-desc > p{
  font-size: 17px;
}
/* slider */

.intro-main-details {
  border: 1px solid rgba(128, 128, 128, 0.28);
  padding:  20px;
  border-radius: 8px;
}
.book-park{
  display: flex;
  margin-block: 40px;
  justify-content: space-between;
  border: 1px solid rgba(128, 128, 128, 0.255);
  padding: 30px 20px;
  border-radius: 8px;
}
.bok-title > h4 {
    font-size: 30px;
}
.bok-btn > button{
  padding: 15px 20px;
  border:  none;
  background-color: rgb(4, 161, 161);
  font-size: 15px;
}
.fac-icon-name{
  display: flex;
  justify-content: start;
  align-items: center;
  gap: 5px;
}
.fac-icon-name > p{
  font-size: 14px;
}
svg:not(:root){
  width: 25px;
  height: 25px;
}
.facilities-body{
  margin-top: 20px;
}
.mar-ic{
  margin-top: 8px;
}
.facilities{
  margin-top: 20px;
}
.facilities-heading > h4 {
  font-size: 22px;
}